.content{
    width:492px;
    height:168px;
    background-color: #e3e3e3;
    padding: 5px;
}
.preview{
    flaot:left;
    border: 2px dotted red;
    width: 100px;
    height: 100px;
}
.settings{
    position: relative;
    top: -100px;
    left: -167px;
    float: right;
    width: 100px;
    height: 100px;
}
/*Tooltip*/
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer;display: inline;}

#tt {position:absolute; display:block; background:url(../images/tooltip/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(../images/tooltip/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(../images/tooltip/tt_bottom.gif) top right no-repeat; overflow:hidden}
